<h4 style="margin-left: 36%; margin-right: 50%; margin-top: 5%;">
  Fill Up The Below Form
</h4>

<!--stepper code-->
<mat-horizontal-stepper>
  <mat-step label="Basic Details">
    <div class="container">
      <div class="row">
        <form
          class="example-form"
          (ngSubmit)="onPersonalDetails(migrationForm)"
          #migrationForm="ngForm"
        >
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="name">
                  <mat-label>First name</mat-label>
                  <input
                    matInput
                    name="firstName"
                    ngModel
                    #firstName="ngModel"
                    required
                  />
                  <mat-error *ngIf="firstName.invalid"
                    >Please enter First Name</mat-error
                  >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="name">
                  <mat-label>Middle Name</mat-label>
                  <input
                    matInput
                    name="mname"
                    ngModel
                    #mname="ngModel"
                    required
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="name">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    name="lastName"
                    ngModel
                    #lastName="ngModel"
                    required
                  />
                  <mat-error *ngIf="lastName.invalid"
                    >Please enter Last Name</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-form-field >
            <mat-label>Select Gender</mat-label>
            <mat-select name="gender" ngModel #gender="ngModel" required>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Age</mat-label>
            <input
              matInput
              type="number"
              value=""
              required
              ngModel
              name="age"
              #age="ngModel"
            />
          </mat-form-field>

          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Travelling From (Complete Address) </mat-label>
              <textarea
                matInput
                placeholder="Ex. 100 Main St"
                name="travellingFrom"
                ngModel
                #travellingFrom="ngModel"
                required
              ></textarea>
              <mat-error *ngIf="lastName.invalid"
                >Please enter travellingFrom</mat-error
              >
            </mat-form-field>
          </p>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>City (Travelling From)</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Delhi"
                    required
                    name="travellingCityFrom"
                    ngModel
                    #travellingCityFrom="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>State (Travelling From)</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Delhi"
                    required
                    name="travellingStateFrom"
                    ngModel
                    #travellingStateFrom="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Postal Code (Travelling From)</mat-label>
                  <input
                    matInput
                    maxlength="6"
                    placeholder="Ex. 94105"
                    value=""
                    required
                    name="postalCodeTravellingFrom"
                    ngModel
                    #postalCodeTravellingFrom="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-form-field>
            <mat-label>Choose travelling date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              required
              name="date"
              ngModel
              #date="ngModel"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Travelling To (Complete Address)</mat-label>
            <textarea
              matInput
              required
              name="travellingTo"
              ngModel
              #travellingTo="ngModel"
            ></textarea>
          </mat-form-field>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>City (Travelling To)</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Noida"
                    required
                    name="travellingToCity"
                    ngModel
                    #travellingToCity="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>State (Travelling To)</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Uttar Pradesh"
                    required
                    name="travellingToState"
                    ngModel
                    #travellingToState="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Postal Code (Travelling To)</mat-label>
                  <input
                    matInput
                    maxlength="6"
                    placeholder="Ex. 201308"
                    value=""
                    required
                    name="postalCodeTravellingTo"
                    ngModel
                    #postalCodeTravellingTo="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Aadhar Number</mat-label>
                  <input
                    matInput
                    minlength="12"
                    maxlength="12"
                    placeholder="Enter Aadhar Number"
                    value=""
                    required
                    name="aadharNumber"
                    ngModel
                    #aadharNumber="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Wife</mat-label>
                  <input
                    matInput
                    placeholder="Enter Number"
                    value=""
                    required
                    name="wife"
                    ngModel
                    #wife="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Children</mat-label>
                  <input
                    matInput
                    placeholder="Enter Number"
                    value=""
                    required
                    name="children"
                    ngModel
                    #children="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Parents</mat-label>
                  <input
                    matInput
                    placeholder="Enter Number"
                    value=""
                    required
                    name="parents"
                    ngModel
                    #parents="ngModel"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button
            mat-raised-button
            matStepperNext
            color="primary"
            style="float:right"
            [disabled]="migrationForm.invalid"
          >
            Next
          </button>
        </form>

        <!-- <button
    mat-raised-button
    color="primary"
    (click)="addGroup(migrationForm)"
  >
    Add your Group
  </button> -->
      </div>
    </div>
  </mat-step>

  <mat-step label="Professional Details">
    <div class="container">
      <div class="row">
        <form
          class="example-form"
          (ngSubmit)="onSubmitProfessional(professionalDetailsForm)"
          #professionalDetailsForm="ngForm"
        >
          <mat-form-field>
            <mat-label>Select Profession</mat-label>
            <mat-select
              name="profession"
              ngModel
              #profession="ngModel"
              required
            >
              <mat-option value="Maid">Maid</mat-option>
              <mat-option value="Driver">Driver</mat-option>
              <mat-option value="Daily Wage Labour"
                >Daily Wage Labour</mat-option
              >
            </mat-select>
          </mat-form-field>

          <button
            mat-raised-button
            matStepperNext
            color="primary"
            style="margin-left: 10%;"
            [disabled]="professionalDetailsForm.invalid"
          >
            Next
          </button>
        </form>
      </div>
    </div>
  </mat-step>

  <mat-step label="Covid-19 Questions">
    <div class="container">
      <div class="row">
        <form
          class="example-form"
          (ngSubmit)="onSubmitCovidQues(covidQues)"
          #covidQues="ngForm"
        >


          <div *ngFor="let item of options">

            <mat-checkbox #checkbox="matCheckbox"
                          (click)="somethingClick(checkbox, item)">{{ item}}</mat-checkbox>

         </div>


          <button
            mat-raised-button
            matStepperNext
            color="primary"
            style="margin-left: 10%;"
            [disabled]="covidQues.invalid"
          >
            Next
          </button>
        </form>
      </div>
    </div>
  </mat-step>

  <mat-step label="Immediate Assistance">
    <div class="container">
      <div class="row">
        <form
          class="example-form"
          (ngSubmit)="onSubmitImmediateHelp(immediateHelp)"
          #immediateHelp="ngForm"
        >
          <div>
            <mat-form-field>
              <mat-label>Food Assistance</mat-label>
              <mat-select name="food" ngModel #food="ngModel" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Medicine Assistance</mat-label>
              <mat-select name="medicine" ngModel #medicine="ngModel" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Medical Chekup</mat-label>
              <mat-select name="checkup" ngModel #checkup="ngModel" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="warn" type="submit" [disabled]="immediateHelp.invalid">Submit</button>
        </form>
      </div>
    </div>
  </mat-step>

</mat-horizontal-stepper>

<!--code ends-->
